/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


// Colors
$green: #00FF00;
$olivegreen: #e2ead3;
$lgray: #aaa;


// Widths
$full-width: 980px;
$outerpadding: 0 2%;


/* Main structure */


.wrapper {   
    overflow: hidden; /* fixes floats craziness */
}

.container {
    background: #f6f6f6;
    margin-bottom: 2px;
    overflow: hidden; /* clear floats */      
}

.container-inner {
    max-width: $full-width;
    padding:$outerpadding;
    margin:0 auto;
    padding-top: 20px;
}

#section-1 { 
    margin-top:186px; 
    @media (max-width:800px){
            margin-top:168px;           
    }
    @media (max-width:510px){
            margin-top:200px;           
    }
}

#section-2 { background: #fff; }




/* Typography */

body {
    font-family: 'Lora', serif;
}

p, .container li {
    font-size:1.1em;
    color: #777;
    @media (max-width:800px){
        font-size:.9em;
    }
    @media (max-width:550px){
        line-height:1.5;
    }
}

h2 + p { 
    margin-top: .5em;
}

h1, h2, h3, h4 {
    /*font-family: 'Hind', sans-serif;*/
    font-family: 'Muli', sans-serif;
    color: #333;
}

h1 {
    font-size:1.7em;
    border-bottom:2px dotted #C2D4A0;
    padding-bottom: .3em;
    color:#409DAB;
    margin:0;
    @media (max-width:800px){
        font-size:1.4em;
    }
    @media (max-width:550px){
        font-size:1.1em;
    }
}

#section-1 h1 {
    margin:0 0 0 33%;
}


h2 {
    font-size:1.3em;
    margin-top:1.6em;
    margin-bottom: .5em;
    @media (max-width:800px){
        font-size:1.2em;
    }
}

h4 {
    font-size:1.1em;
}


a {
    color: #829c49;
}

strong {
    font-weight: normal;
    color:#000;
}


/* Header / Navigation */

header:after {
    content: "";
    display: block;
    height: 500px;
    width: 500px;
    background: $olivegreen;
    position: absolute;
    left: -379px;
    top: -326px;
    border-radius: 44em;
    z-index: -1;
}

header {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 186px;
    padding-top:.5em;
    margin: 0 auto;
    z-index: 200;
    @media (max-width:800px){
        height:168px;
            
    }
    .header-inner {
        margin: 0 auto;
        max-width: $full-width;
        padding:$outerpadding;
        position: relative;
    }
}

.treatments-list {
    background:  #96B45B url('../images/pattern.png') repeat-x bottom;
    margin: 1em 0 0 0;
    padding-bottom: 20px;
    clear: both;
    .treatments-list-inner {
        margin: 0 auto;
        max-width: $full-width;
        padding:.7em 2% .5em 2%;
        overflow: hidden;
    }
    ul { 
        padding:0;
        margin:.6em 0 0 0;
        float: left;
        min-width: 65%;
        @media (max-width:800px){
            display:none;
        }
    }
    li {
        display: inline;
        font-family: Hind, Helvetica, Arial;
        padding-right: .3em;
        color:#444;
    }
    li:after {
        content: "\2022";
        font-size: 1.1em;
        margin-left:.3em;
    }
    li:last-child:after {
        content: "";
    }

}

.location {
    float: right;
    padding:0;
    margin:0;
    margin-right: 145px;
    color:#fff;
    font-size: .9em;
    font-family: Helvetica, Arial;
    line-height: 160%;
    @media (max-width:800px){
        font-size:.8em;   
        }
    @media (max-width:879px){
        margin-right: 0px;  
        }    
}

.tel {
    display: block;
    @media (max-width:800px){
        display:inline;
        }
}


.logo {
    float: left;
    background: url(../images/logo.png) no-repeat;
    width: 173px;
    height: 77px;
    background-size:contain;
    margin-bottom: 1.2em;
}


nav {
    float: right;
    margin-top: 1em;

    @media (max-width:510px){
            float: none;
            clear: left;
            width: 90%;
            margin: 0;
            padding-bottom: 1.5em;
    }
     ul  {
        padding:0;
            @media (max-width:510px){
            margin-top:0;
            }
        } 
    li {
        float: left;
        margin-right:1em;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        /*@media (max-width:800px){
            font-size:.9em;
        }*/
        /*@media (max-width:500px){
            font-size:.8em;
        } */   
    }
    a {
        color: #101010;
        text-decoration: none;
    }
    a.active {
        color: #FFF;
        background: #409DAB;
        padding:.1em .4em .2em .4em;
        border-radius: 5px;
    }
    a:hover{
        color: #409DAB;
    }
    a.active:hover{
        color: #fff;
    }
}


.special-offer {
    width:100px;
    height: 100px;
    background: #735D45;
    border-radius: 10em;
    border:2px solid #fff;
    color: #C3B6A6;
    position: absolute;
    right:67px;
    top:105px;
    font-size: .65em;
    font-family: Arial, Helvetica;
    padding:1.6em 1em 0 1em;
    text-align: center;
    
    transform: rotate(7deg);
  /*  @media (max-width: 880px) {
        display:block;
    }*/
    @media (max-width:879px){
            display:none;
        }
}



.special-offer strong {
    background: #735D45;
    font-size: 3em;
    color: #C3B6A6;
    display: inline-block;
}

/* General Images */

img {
    max-width: 100%;
}

.img-bdr {
    border:1px solid $lgray;
    padding:5px;
}

.center-img {
    width: 65%;
    margin:0 auto;
    margin-bottom: 1em;
}

.feature-box {
    background: #e2ead3;
    padding: 1em;
    width: 80%;
    margin-top: 1em;
    
    h4 {
        margin:0 0 .5em 0;
    }
    p {
        font-family: Helvetica, Arial, sans-serif;
        font-size:.9em;
        line-height: 150%;
    }
    p:last-child {
        margin:0;
    }
}




/* 'Sections' */

.profile-img {
    float: left;
    display: block;
    width:30%;
    
    img {
        max-width: 100%;
    }   
}

.profile-content {
    float: right;
    width:70%;
    padding-left: 4%;

}

.content-left {
    float: left;
    display: block;
    margin-right:3%;
    margin-bottom: 1em;
    
    img {
        max-width: 100%;
    }   
}

.content-right {
    float: right;
    padding-left: 4%;
    
    img {
        max-width: 100%;
    } 
}

.primary { width: 70%; }
.secondary { width: 30%; }



blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.1em;
    background: #e9e9e9;
    padding: .7em .7em;
    padding-left:3em;
    color: #333;
    position: relative;
    box-shadow: 1px 1px 2px 0px  #ccc;
    margin-left: 33%;
    margin-right:0;
    
    @media (max-width:544px){
        margin-left:0;
    }
}

blockquote p {
    margin:0;
    color:#666;
}

blockquote p:before {
    content: "\201C";
    font-size: 3.1em;
    margin-left:.3em;
    position: absolute;
    left:-10px;
    top:-5px;
    color: #419DAB
}

blockquote + h2 {
    clear: both;
}

cite {
    font-size: .6em;
}

.map {
    width:80%;
    margin:0 auto;
    margin-bottom:3em;
}

.map iframe {
    width:100%;
    min-height: 400px;
}

.fb {
    display: block;
    background: url(../images/facebook.png) no-repeat;
    padding: .1em 0 .2em 2.4em;
    height: 34px;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


